// -----------------------------
// Colors
// -----------------------------

// General
$site-color__blue: #007EDC;
$site-color__blue--darker: #005391;

// Navigation
$site-color__navigation--link-background: #D6D6D6;
$site-color__navigation--link-text: #666769;


// Forms
$site-color__form--placeholder: #9c9fa3;

// Sidebar Widgets
$site-color__sidebar-widget--background: #DBDBDB;
$site-color__sidebar-widget--background-alt: #CAC9C9;
$site-color__sidebar-widget--background-travel: #595959;

// Footer
$site-color__footer--background: #2C2C2C;
$site-color__footer--secondary-text: #969696;


