<footer class="site-footer">
	<div class="site-footer__content">
		<div class="site-footer__info">
			<ul class="site-footer__info--site-links">
				<li><a href="">Privacy Policy</a></li> |
				<li><a href="">Terms of Use</a></li> |
				<li><a href="">Site Map</a></li> |
				<li><a href="">Contact Us</a></li>
			</ul>
			<ul class="site-footer__info--company-info">
				<li>&copy; 2013 Crispin & Mulberry</li> |
				<li>1640 Riverside Drive, Hill Valley, California, 95420</li>
			</ul>
		</div>
		<ul class="site-footer__social-media-links">
			<li><a href=""><img src="{{ site.baseurl }}/assets/img/icons/icon_facebook.png" alt="facebook"></a></li>
			<li><a href=""><img src="{{ site.baseurl }}/assets/img/icons/icon_flickr.png" alt="flickr"></a></li>
			<li><a href=""><img src="{{ site.baseurl }}/assets/img/icons/icon_twitter.png" alt="twitter"></a></li>
			<li><a href=""><img src="{{ site.baseurl }}/assets/img/icons/icon_vimeo.png" alt="vimeo"></a></li>
			<li><a href=""><img src="{{ site.baseurl }}/assets/img/icons/icon_rss.png" alt="rss"></a></li>
		</ul>
	</div>

	<!-- jQuery CDN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/app.js"></script>
</footer>