<header class="site-header">
	<figure class="site-header__logo">
		<a href=""><img src="../assets/img/logo.png" alt="logo"></a>
	</figure>
	<nav class="site-header__navigation">
		<form class="site-header__search-form" action="">
			<input type="search" placeholder="Search">
			<span><img src="../assets/img/icons/icon_search.png" alt="search"></span>
		</form>
		<ul class="site-header__menu">
			<li><a href="">My Account</a></li> |
			<li><a href="">My Subscription</a></li> |
			<li><a href="">My Articles</a></li>
		</ul>
	</nav>
</header>