<div class="site-content__lower-section--main">
	<div class="lower-section__categories">
		<div class="lower-section__widget-title ribbon">
			<img src="../assets/img/icons/icon_folder.png" alt="folder">
			<span>Browse Categories</span>
		</div>
		<div class="categories__destinations">
			<h5>Popular Destinations <img src="../assets/img/icons/icon_down_arrow.png" alt="down_arrow"></h5>
			<ul>
				<li><a href="">United States</a></li>
				<li><a href="">Europe</a></li>
				<li><a href="">Latin America</a></li>
				<li><a href="">South Pacific</a></li>
				<li><a href="">Caribbean</a></li>
				<li><a href="">Australia</a></li>
				<li><a href="">All Destinations</a></li>
			</ul>
		</div>
		<div class="categories__getaways">
			<h5>Getaways <img src="../assets/img/icons/icon_down_arrow.png" alt="down_arrow"></h5>
			<ul>
				<li><a href="">Adventure Vacations</a></li>
				<li><a href="">Beach Vacations</a></li>
				<li><a href="">Cruise Vacations</a></li>
				<li><a href="">Culinary Vacations</a></li>
				<li><a href="">Family Vacations</a></li>
				<li><a href="">Luxury Vacations</a></li>
				<li><a href="">Romantic Vacations</a></li>
				<li><a href="">Ski Vacations</a></li>
				<li><a href="">All Vacations</a></li>
			</ul>
		</div>
	</div>
	<div class="lower-section__recent-articles">
		<div class="lower-section__widget-title">
			<img src="../assets/img/icons/icon_articles.png" alt="articles">
			<span>Recent Articles</span>
		</div>
		<ul>
			<li class="recent-articles__article">
				<img src="../assets/img/articles/disney_world.jpg" alt="disney_world">
				<div class="recent-articles__articles--content">
					<h6><a href="">Don’t Miss the Parades at DisneyWorld</a></h6>
					<p>The parades at Disney World are a one of a kind celebration full of all your favorite Disney characters and music. The entertainment never stops as parades are scheduled throughout the entire day. Come and enjoy one of your greatest childhood dreams when you see all your favorite characters.</p>
				</div>
			</li>
			<li class="recent-articles__article">
				<img src="../assets/img/articles/las_vegas.jpg" alt="las_vegas">
				<div class="recent-articles__articles--content">
					<h6><a href="">Get Your Kicks in Downtown Las Vegas</a></h6>
					<p>Get off the strip and check out what Old Vegas has to offer. From shark infested water slides to the nightly Fremont Street Experience it’s sure to please adventurers of all ages.</p>
				</div>
			</li>
			<li class="recent-articles__article">
				<img src="../assets/img/articles/chicago.jpg" alt="chicago">
				<div class="recent-articles__articles--content">
					<h6><a href="">Don’t Miss Deep Dish in Chicago</a></h6>
					<p>Deep dish pizza is as synonymous with Chicago as Thin Crust is to New York. Any way you slice it, any trip to the windy city is incomplete without an italian flavor explosion in your mouth.</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="lower-section__videos">
		<div class="lower-section__widget-title ribbon">
			<img src="../assets/img/icons/icon_video.png" alt="video">
			<span>Popular Videos</span>
		</div>
		<ul class="videos__row">
			<li class="videos__thumbnail">
				<figure>
					<img src="../assets/img/video/team_mongoose.jpg" alt="team_mongoose">
					<figcaption><a href="">Team Mongoose</a></figcaption>
					<a class="thumbnail__play-icon" href=""><img src="../assets/img/icons/icon_play.png" alt="play"></a>
				</figure>
			</li>
			<li class="videos__thumbnail">
				<figure>
					<img src="../assets/img/video/cathedral.jpg" alt="cathedral">
					<figcaption><a href="">St. Paul's Cathedral</a></figcaption>
					<a class="thumbnail__play-icon" href=""><img src="../assets/img/icons/icon_play.png" alt="play"></a>
				</figure>
			</li>
			<li class="videos__thumbnail">
				<figure>
					<img src="../assets/img/video/hollywood.jpg" alt="hollywood">
					<figcaption><a href="">Hollywood and Highland</a></figcaption>
					<a class="thumbnail__play-icon" href=""><img src="../assets/img/icons/icon_play.png" alt="play"></a>
				</figure>
			</li>
		</ul>
		<ul class="videos__row">
			<li class="videos__thumbnail">
				<figure>
					<img src="../assets/img/video/lake_wissota.jpg" alt="lake_wissota">
					<figcaption><a href="">Lake Wissota</a></figcaption>
					<a class="thumbnail__play-icon" href=""><img src="../assets/img/icons/icon_play.png" alt="play"></a>
				</figure>
			</li>
			<li class="videos__thumbnail">
				<figure>
					<img src="../assets/img/video/bellagio.jpg" alt="bellagio">
					<figcaption><a href="">The Bellagio Fountains</a></figcaption>
					<a class="thumbnail__play-icon" href=""><img src="../assets/img/icons/icon_play.png" alt="play"></a>
				</figure>
			</li>
			<li class="videos__thumbnail">
				<figure>
					<img src="../assets/img/video/atlantic_coast.jpg" alt="atlantic_coast">
					<figcaption><a href="">The Atlantic Coast</a></figcaption>
					<a class="thumbnail__play-icon" href=""><img src="../assets/img/icons/icon_play.png" alt="play"></a>
				</figure>
			</li>
		</ul>
	</div>
</div>