<div class="lower-section__sidebar">
	<div class="sidebar__contests">
		<h5><img src="{{ site.baseurl }}/assets/img/icons/icon_trophy.png" alt="dollar_sign">Current Contests</h5>
		<ul class="contests__list">
			<li>
				<img src="{{ site.baseurl }}/assets/img/sidebar/yeti_shrine.jpg" alt="yeti_shrine">
				<span><a href="">Win an all inclusive trip to visit the famous Yeti Shrine deep in the heart of Asia</a></span>
			</li>
			<li>
				<img src="{{ site.baseurl }}/assets/img/sidebar/stonehenge.jpg" alt="stonehenge">
				<span><a href="">Win a mystical trip to Bath that includes a guided tour of Stonehenge</a></span>
			</li>
		</ul>
	</div>
</div>