<div class="site-content__upper-section--sidebar">
	<div class="sidebar__newsletter">
		<h5><img src="../assets/img/icons/icon_envelope.png" alt="envelope">Sign Up For Our Newsletter</h5>
		<form class="newsletter__form" action="">
			<input type="email" placeholder="user@domain.com">
			<div class="newsletter__form--input-group">
				<em>Select the newsletters you'd like to receive</em>
				<ul>
					<li>
						<input type="checkbox" name="destinations" value="destinations">
						<strong>Destinations & Getaways</strong>
					</li>
					<li>
						<input type="checkbox" name="tips" value="tips">
						<strong>Weekly Travel Tips</strong>
					</li>
				</ul>
			</div>
			<input class="btn btn__primary" type="submit" value="Sign Up">
		</form>
		<footer class="newsletter__footer">
			<ul>
				<li><a href="#">Privacy Policy</a></li> |
				<li><a href="#">Terms of Use</a></li>
			</ul>
		</footer>
	</div>
	<div class="sidebar__travel-deal">
		<h5><img src="../assets/img/icons/icon_dollar_sign.png" alt="dollar_sign">This Weeks Travel Deal</h5>
		<figure class="travel-deal__image">
			<img src="../assets/img/sidebar/jersey_shore.jpg" alt="jersey_shore">
			<span><a href="#">The Jersey Shore</a></span>
		</figure>
	</div>
</div>