<div class="carousel">
	<input type="radio" name="slide_switch" id="slide1" checked="checked">
	<label class="carousel__thumbnail" for="slide1">
		<span class="carousel__thumbnail--arrow"><img src="{{ site.baseurl }}/assets/img/icons/icon_up_arrow.png" alt="up_arrow"></span>
		<img src="{{ site.baseurl }}/assets/img/carousel/uss_torsk.jpg">
	</label>
	<figure class="carousel__slide">
		<img src="{{ site.baseurl }}/assets/img/carousel/uss_torsk.jpg">
		<span class="carousel__caption">
			<h4><a href="">DOWNTOWN BALTIMORE</a></h4>
			<p>Check out the USS Torsk at Baltimore’s historic Maritime Museum.</p>
		</span>
	</figure>
	
	<input type="radio" name="slide_switch" id="slide2">
	<label class="carousel__thumbnail" for="slide2">
		<span class="carousel__thumbnail--arrow"><img src="{{ site.baseurl }}/assets/img/icons/icon_up_arrow.png" alt="up_arrow"></span>
		<img src="{{ site.baseurl }}/assets/img/carousel/gondola.jpg">
	</label>
	<figure class="carousel__slide">
		<img src="{{ site.baseurl }}/assets/img/carousel/gondola.jpg">
		<span class="carousel__caption">
			<h4><a href="">EXPLORING THE VENETIAN</a></h4>
			<p>Enjoy the best gondola ride on this side of the Atlantic Ocean.</p>
		</span>
	</figure>
	
	<input type="radio" name="slide_switch" id="slide3">
	<label class="carousel__thumbnail" for="slide3">
		<span class="carousel__thumbnail--arrow"><img src="{{ site.baseurl }}/assets/img/icons/icon_up_arrow.png" alt="up_arrow"></span>
		<img src="{{ site.baseurl }}/assets/img/carousel/london.jpg">
	</label>
	<figure class="carousel__slide">
		<img src="{{ site.baseurl }}/assets/img/carousel/london.jpg">
		<span class="carousel__caption">
			<h4><a href="">LONDON AFTER DARK</a></h4>
			<p>Enjoy the pubs along the river Thames & get spectacular view from the London Eye.</p>
		</span>
	</figure>
	
	<input type="radio" name="slide_switch" id="slide4">
	<label class="carousel__thumbnail last" for="slide4">
		<span class="carousel__thumbnail--arrow"><img src="{{ site.baseurl }}/assets/img/icons/icon_up_arrow.png" alt="up_arrow"></span>
		<img src="{{ site.baseurl }}/assets/img/carousel/rushmore.jpg">
	</label>
	<figure class="carousel__slide">
		<img src="{{ site.baseurl }}/assets/img/carousel/rushmore.jpg">
		<span class="carousel__caption">
			<h4><a href="">MOUNT RUSHMORE</a></h4>
			<p>Marvel at the majestic beauty of the Black Hills and come face to face with American history.</p>
		</span>
	</figure>
</div>